# игнорировать все файлы в каталоге bitrix/
bitrix/admin
bitrix/backup
bitrix/cache
bitrix/classes
bitrix/components
bitrix/css/
bitrix/fonts/
bitrix/gadgets/
bitrix/image_uploader/
bitrix/images/
bitrix/install/
bitrix/interface/
bitrix/js/
bitrix/lang/
bitrix/lib/
bitrix/managed_cache/
bitrix/modules/
bitrix/otp/
bitrix/panel/
bitrix/php_interface/
bitrix/sounds/
bitrix/tmp/
bitrix/tools/
bitrix/updates/
bitrix/wizards/
bitrix/*
!bitrix/templates/
front/bower_components/
front/node_modules/


# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .a
#*.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#!lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#/TODO
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt