node_modules/
node_modules/*
api/node_modules/
api/node_modules/*
api/dist/
api/dist/*
dist/
dist/*
api/.env
api/.env.local
api/.env.*.local
.env
.env.local
.env.*.local
lk/
upload/
.idea/
.idea/*
build/
