/*h2*/
h2.main-title{
    font-weight: normal;
    font-size: 28px;
}

/*template styles--------------------*/
.sidebar-logo{
    background: #456a94 !important;
}

.cl-vnavigation .active > a {
    border-left: 3px solid #456a94 !important;
}

.cl-vnavigation a{
    cursor: pointer;
}

.logo-title{
    font-size: 18px !important;
    font-family: "Roboto" !important;
    padding-top: 2px;
    color: #fff !important;
}

@media (max-width: 991px){
    .logo-title{
        text-align: center;
        padding-top: 13px;
    }
}
/*-----------------------------------*/
/*StatFilter*/
.statDateFilters{
    width:100%;
}

/*Общая статистика
-------------------------------------*/
.main-stat .top-block .item{
    margin-top: -20px;
}

.main-stat .top-block .item .fd-tile{
    border-radius: 3px !important;
}