@media(max-width: 1200px){
    .my-main-menu li a{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    #head-nav.topbar .sidebar-logo{
        width:160px !important;
    }
}