@media (max-width: 992px) {
    .my-main-menu li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #head-nav.topbar .sidebar-logo {
        width: 160px !important;
    }

    .header-tariff {
        width: 100%;
        display: inline-block;
        background: #eee;
        position: relative;
    }
}