.nav a {
    cursor: pointer;
}

.post-default {
    max-width: 550px;
}

.post-default .card-image {
    min-height: 40px;
    background: #eee;
}

.clear {
    clear: both;
}

.video-preview {
    position: relative;
}

.video-preview .play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
    height: 64px !important;
    width: 64px !important;
}

.custom-nav-pills > li > a {
    font-size: 10px !important;
    font-weight: 300 !important;
}

/*Validation*/
.parsley-errors-list {
    margin-top: 4px;
    padding: 0;
}

.parsley-errors-list li {
    padding: 0;
    list-style: none;
    color: #cc0000;
}

.parsley-error {
    border-color: #c00 !important;
}

.btn-open-date-picker {
    width: 50px;
    padding: 5px 0px !important;
    margin: 0 !important;
}

.uib-datepicker-popup .btn {
    background: #fff !important;
    color: #333 !important;
    margin: 2px 0px !important;
    padding: 5px 11px !important;
}

.uib-datepicker-popup .text-muted {
    color: #bbb !important;
}

.form-horizontal.filter .checkbox-radios .checkbox:first-child,
.form-horizontal.filter .checkbox-radios .radio:first-child {
    margin-top: 0px !important;
}

.form-horizontal.filter .checkbox-radios .radio {
    padding-top: 0px !important;
}

.loader {
    opacity: 0.5;
}

.posts-sort-block {
    margin-top: 92px !important;
}

.btn-choose-group {
    background: #bbb !important;
}

.groupLink {
    cursor: pointer;
}

.choose-group-list {
    height: 400px;
    overflow-y: scroll;
}

.choose-group-list .group-name {
    color: #006294;
    font-weight: 500;
}

.group-avatar {

}

.group-avatar img {
    border-radius: 50%;
    max-width: 130px;
}

.group-title {
    padding-bottom: 15px;
    font-weight: 500;
}

.section-title {
    font-size: 20px !important;
}

.sidebar .nav > li.old-lk {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.compare-groups-table th {
    font-size: 12px !important;
}

.relative {
    position: relative;
}

.group-name-on-post {
    padding-left: 15px;
}

.group-name-on-post span {
    font-size: 12px;
    color: #444;
}

.period-radio {
    position: relative;
    left: 50%;
    margin-left: -21px;
}

.period-radio label .circle, .period-radio label .check {
    height: 24px !important;
    width: 24px !important;
}

.period-radio input[type=radio]:checked ~ .check {
    background: #4caf50 !important;
}

.period-radio input[type=radio]:checked ~ .circle {
    border-color: #4caf50 !important;
}

.root-user-info {
    float: right;
    margin-left: 15px;
    line-height: 1.1;
}

.root-user-info span {
    font-size: 12px;
    margin-top: 5px;
    float: left;
}

.sidebar .nav > li.admin-link {
    position: absolute;
    width: 100%;
    bottom: 80px;
}

.group-is-free {
    background: #edca84;
    border-radius: 5px;
    padding: 3px;
    font-size: 11px;
}

.card-header h4.title {
    color: #fff !important;
}

.admin-user-table {
    max-height: 600px;
    overflow-y: scroll;
}
.stat_icon{
    font-size: 10px;
}

.btn {
    background-color: #f2f2f2;
}

.card [data-background-color="custom"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}