<div id="cl-wrapper" ng-if="isAuth">

    <div class="container-fluid" id="pcont">

        <div id="head-nav" class="topbar navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="toggleMenu($event)">
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="sidebar-logo">
                        <div class="logo-title">
                            <span class="">socstat.ru</span>
                        </div>
                    </div>
                    <rad-left-menu></rad-left-menu>
                    <rad-profile class="radProfile"></rad-profile>
                </div>
                <!--/.nav-collapse animate-collapse -->
            </div>
        </div>

        <div class="cl-mcont">

            <!--<div class="page-head" ng-if="page.sectionTitle">
                <h2 class="main-title text-center">{{page.sectionTitle}}</h2>
            </div>-->
            <div ui-view="content">

            </div>

        </div>

        <div class="footer">
            <div class="col-sm-3">
                <div class="footer-logo">
                    <span>socstat.ru</span><br>
                    аналитика и статистика групп вконтакте
                </div>
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-4">
                <div id="vk_subscribe" class="subscribeVkBtn"></div>
            </div>
        </div>

    </div>

</div>

<div ng-if="isAuth" class="modal" id="finishedPeriodModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button " class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <rad-tariff view="'popup'"></rad-tariff>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
