<div class="wrapper" ng-if="isAuth">

    <div class="sidebar" data-color="green" data-image="/lk/images/sidebar-1.jpg">

        <div class="logo text-center">
            <a href="/lk/" class="simple-text">
                socstat.ru
            </a>
            Аналитика и статистика<br/>групп ВКонтакте
        </div>

        <div class="sidebar-wrapper">
            <rad-left-menu></rad-left-menu>
        </div>

        <div class="sidebar-background" style="background-image: url(./images/sidebar-1.jpg)"></div>

    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="toggleMenu()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand section-title" ng-bind="page.sectionTitle"></div>
                </div>
                <div class="collapse navbar-collapse">
                    <!--<ul class="nav navbar-nav navbar-right">
                        &lt;!&ndash;<li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>

                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>

                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mike John responded to your email</a></li>
                                <li><a href="#">You have 5 new tasks</a></li>
                                <li><a href="#">You're now friend with Andrew</a></li>
                                <li><a href="#">Another Notification</a></li>
                                <li><a href="#">Another One</a></li>
                            </ul>
                        </li>&ndash;&gt;
                        &lt;!&ndash;<li>
                            <a >
                                <i class="material-icons">person</i>

                                <p class="">Безлимитный тариф<br>дейстует до: {{tariffInfo.activeTo}}</p>
                            </a>
                        </li>&ndash;&gt;
                    </ul>-->

                    <div class="navbar-right">

                        <button type="button" class="btn btn-white btn-round btn-just-icon"
                                ng-click="openState('index/account')">
                            <i class="material-icons">person</i>

                            <div class="ripple-container"></div>
                        </button>

                        <div class="root-user-info">
                            {{tariffInfo.userName}}<br/>
                            <span>Безлимитная аналитика<br>действует до: {{tariffInfo.activeTo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid" ui-view="content">

            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-left">
                    Нашли ошибку? <a href="https://vk.com/socstat_ru" target="_blank">Сообщите нам</a>.
                </p>

                <p class="copyright pull-right">
                    Аналитика групп ВКонтакте <a href="https://socstat.ru/" target="_blank">socstat.ru</a>
                </p>
            </div>
        </footer>

    </div>

</div>

<div class="modal" id="confirmAddGroupToFree" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Подтвердите добавление группы</h4>
            </div>
            <div class="modal-body">
                <p>
                    Вы действительно хотите добавить группу "бла-бла" в список бесплатных для анализа групп?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Все верно, добавляем!</button>
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Нет, изменить группу
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div ng-if="isAuth" class="modal" id="finishedPeriodModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4>Закончился срок безлимитной подписки</h4>
            </div>
            <div class="modal-body">
                <rad-tariff view="'popup'"></rad-tariff>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div ng-if="isAuth" class="modal" id="userUnsubscribedPopup" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4>Вы отписались от группы <a href="https://vk.com/socstat_ru" target="_blank">socstat.ru</a></h4>
            </div>
            <div class="modal-body">
                Кажется, вы отписались от нашей группы, и мы не можем начать аналитику этого сообщества.<br>
                Чтобы продолжить пользоваться аналитикой для этой группы, вам необходимо подписаться, либо
                вы можете оплатить безлимитную подписку и анализировать любые группы без ограничений.

                <br><br>
                <a class="btn btn-success" ui-sref="index/account">Оплатить</a>
                <a class="btn btn-warning" href="https://vk.com/socstat_ru" target="_blank">Перейти в группу</a>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
