<div>
    <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img ng-src="{{model.photoUrl}}" width="30"/>
                <span>{{model.userName}} {{model.userLastName}}</span>
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a ng-click="openState('index/account')">Оплата</a></li>
                <li class="divider"></li>
                <li><a href="/capabilities/" target="_blank">О сервисе</a></li>
                <li><a ng-click="logout()" style="cursor: pointer">Выйти</a></li>
            </ul>
        </li>
    </ul>
    <div class="nav navbar-nav navbar-right header-tariff" ng-click="openState('index/account')">
        <div ng-show="!noActiveTariff">
            <span>Тариф</span> <span>&laquo;{{model.tariff}}&raquo;</span>
            <br>
            <span>действует до {{model.activeTo}}</span>
        </div>
        <div ng-show="noActiveTariff">
            <span class="no-active-tariff">
                Оплаченный период работы<br>
                аккаунта завершен
            </span>
        </div>
    </div>
    <div class="nav navbar-nav navbar-right header-partner" ng-if="false" ng-click="openState('index/partners')">
        <div>
            <span class="partner-link">
                <i class="fa fa-heart-o"></i>
            </span>
        </div>
    </div>
</div>
