<div class="publish-analysis">
    <h3 class="text-center">{{model.title}}</h3>

    <div class="text-center group-title" ng-if="groupInfo.name">&laquo;{{groupInfo.name}}&raquo; за период с
        {{model.periodLabels.from}}
        по {{model.periodLabels.to}}
    </div>

    <div class="row">

        <div class="col-md-3">
            <div ng-show="dataIsLoaded && !isLoading">
                <div class="block-flat group-info">
                    <div class="content">
                        <div class="groupAvatar">
                            <img ng-src="{{groupInfo.photo_big || groupInfo.photo_medium || groupInfo.photo}}">
                        </div>

                        <a href="https://vk.com/{{groupInfo.screen_name}}" target="_blank"
                           class="btn btn-block btn-prusia btn-rad go-to-group no-margin-left">Перейти к группе</a>

                        <div class="group-text">

                            <p ng-show="groupInfo.description" ng-bind-html="groupInfo.description">
                            </p>

                            <p ng-show="!groupInfo.description">
                                Описание группы отсутствует
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="fd-tile detail clean tile-purple">
                    <div class="content"><h1 class="text-left">{{groupInfo.members_count}}</h1>

                    </div>
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <a class="details" href="#">Подписчиков</a>
                </div>

                <div class="fd-tile detail clean tile-green">
                    <div class="content"><h1 class="text-left">{{groupInfo.wallCount}}</h1>

                    </div>
                    <div class="icon"><i class="fa fa-flag"></i></div>
                    <a class="details" href="#">Публикаций на стене</a>
                </div>

                <div class="fd-tile detail clean tile-blue">
                    <div class="content"><h1 class="text-left">{{groupInfo.ER}}</h1>

                    </div>
                    <div class="icon"><i class="fa fa-flag"></i></div>
                    <a class="details" href="#">Средняя вовлеченность (ER), %</a>
                </div>
            </div>

            <div class="block-flat">
                <vk-group-widget></vk-group-widget>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row" ng-show="isLoading && groupIsFinded">
                <div class="col-xs-12">
                    <div class="progress progress-striped active m-top-m-15">
                        <div class="progress-bar progress-bar-info" style="width: 100%">
                            Считано записей: {{progressPercent}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row showFilterArea" ng-show="hiddenFilter">
                <div class="col-xs-12 text-center">
                    <a ng-click="hiddenFilter = false" class="showFilterLink">Раскрыть фильтр</a>
                </div>
            </div>

            <div class="block-flat" ng-hide="hiddenFilter">
                <form role="form">
                    <div class="form-group">
                        <label>Группа для анализа:</label>
                        <input type="text" id="groupAdress" placeholder="Введите адрес группы или выберите из списка"
                               class="form-control" ng-class="{'parsley-error': urlError}"
                               ng-model="model.groupAddress">
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-required" ng-bind="urlError"></li>
                        </ul>

                        <a class="choose-group-link" ng-click="showGroupsMenu()">Выбрать группу из списка</a>

                        <rad-choose-group on-action="setGroupLink" ng-show="!isHiddenMenu"></rad-choose-group>
                    </div>
                    <div class="form-group">
                        <label>Временной промежуток для анализа</label>
                        <input type="hidden" placeholder="Password" class="form-control">

                        <div class="statDateFilters">
                            <div>
                                <label class="radio-inline"> <input class="icheck" type="radio" name="checkDate"
                                                                    checked=""
                                                                    value="last7days">
                                    Последняя неделя</label>
                            </div>
                            <div>
                                <label class="radio-inline"> <input class="icheck" type="radio" name="checkDate"
                                                                    checked=""
                                                                    value="last30days">
                                    Последние 30 дней</label>
                            </div>

                            <div>
                                <label class="radio-inline"> <input class="icheck" type="radio" name="checkDate"
                                                                    value="datePicker">
                                    За выбранный промежуток
                                    <div>
                                        <div class="date-picker-range-text">
                                            с
                                        </div>
                                        <fieldset class="date-picker-change">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="input-prepend input-group">
                                                        <span class="add-on input-group-addon"
                                                              ng-click="openDatepickerPopupFrom()">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </span>
                                                        <input type="text" class="form-control date-picker-input"
                                                               ui-mask="99.99.9999"
                                                               uib-datepicker-popup="ddMMyyyy"
                                                               ng-model="model.datePicker.dateFrom"
                                                               is-open="model.datePicker.popupFrom.opened"
                                                               datepicker-options="dateOptions"
                                                               show-button-bar="false"
                                                               close-on-date-selection="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="parsley-errors-list filled">
                                                <li class="parsley-required" ng-bind="error.datePickerFromError"></li>
                                            </ul>
                                        </fieldset>

                                        <div class="date-picker-range-text">
                                            по
                                        </div>
                                        <fieldset class="date-picker-change">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="input-prepend input-group">
                                                        <span class="add-on input-group-addon"
                                                              ng-click="openDatepickerPopupTo()">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </span>
                                                        <input type="text" class="form-control date-picker-input"
                                                               ui-mask="99.99.9999"
                                                               uib-datepicker-popup="ddMMyyyy"
                                                               ng-model="model.datePicker.dateTo"
                                                               is-open="model.datePicker.popupTo.opened"
                                                               datepicker-options="dateOptions"
                                                               show-button-bar="false"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="parsley-errors-list filled">
                                                <li class="parsley-required" ng-bind="error.datePickerToError"></li>
                                            </ul>
                                        </fieldset>
                                    </div>
                                </label>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-block btn-info btn-rad no-margin-left" ng-click="getStat()"
                            ng-disabled="isLoading">Начать анализ
                    </button>
                    <div class="row hideFilterArea">
                        <div class="col-xs-12 text-center">
                            <a ng-click="hiddenFilter = true" class="showFilterLink">Скрыть фильтр</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="block-flat" rad-loader="isLoading" ng-show="isLoading" style="height: 150px;">

            </div>

            <div class="row" ng-hide="isLoading">
                <div ng-repeat="wallPost in wallListView">
                    <div class="col-md-12 m-top-m-15">
                        <div class="block-flat wallPost">
                            <div class="header">
                                <div class="pull-left">
                                    <div class="publish-left-block">
                                        <strong>Дата: </strong> {{getDate(wallPost.date)}}
                                    </div>
                                    <br/>

                                    <div class="">
                                        <i class="fa fa-heart"></i> <strong> {{wallPost.likes.count}}</strong>
                                        <i class="fa fa-share-alt"></i> <strong> {{wallPost.reposts.count}}</strong>
                                        <i class="fa fa-comments"></i> <strong> {{wallPost.comments.count}}</strong>
                                        ER <strong> {{wallPost.ER}}%</strong>
                                        <br/>
                                        <a class="sendToPublish"
                                           ng-href="https://vk.com/feed?w=wall{{wallPost.from_id}}_{{wallPost.id}}"
                                           target="_blank">Перейти к записи (в новой вкладке)</a>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-prusia addToFavoritePost"
                                            ng-disabled="wallPost.isAddedToFavorite"
                                            ng-class="{'btn-success': !wallPost.isAddedToFavorite, 'btn-prusia': wallPost.isAddedToFavorite}"
                                            ng-click="addToFavorite(wallPost, $index)">
                                        {{wallPost.isAddedToFavorite ? 'Запись сохранена' : 'Сохранить'}}
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="block-publish publishItem{{$index}}" data="{{currentIndex = $index}}">

                                <div class="text">
                                    <span ng-bind-html="wallPost.text"></span>
                                    <!--<a href="http://www.mhealth.ru/diet/ration/425723/">http://www.mhealth.ru/diet/ration/425723/</a>-->
                                </div>
                                <div ng-if="wallPost.attachments && wallPost.attachments.length>0">
                                    <div ng-repeat="attachment in wallPost.attachments">
                                        <div class="video text-center"
                                             ng-if="attachment.type == 'video'">

                                            <div class="video-preview" ng-show="!attachment.video.url"
                                                 ng-click="getVideoUrl(attachment)">
                                                <img ng-src="{{attachment.video.image}}"
                                                     style="max-width: 100%;">
                                                <img class="play-icon" src="./images/video_play.png">
                                            </div>

                                            <iframe ng-if="attachment.video.url"
                                                    ng-src="{{trustSrc(attachment.video.url)}}"
                                                    width="100%"
                                                    height="250"
                                                    allowfullscreen frameborder="0">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="image text-center"
                                     ng-if="wallPost.attachment && wallPost.attachment.photo">
                                    <img ng-src="{{wallPost.attachment.photo.src_big}}" style="max-width: 100%;"/>
                                </div>
                                <div ng-if="isShowAnotherPictures(wallPost.attachments)">
                                    <hr>

                                    <div class="col-sm-4 text-center publish-photo-link"
                                         ng-repeat="anotherImage in wallPost.attachments"
                                         ng-if="anotherImage.type == 'photo'"
                                         ng-click="showCurrentPicture(anotherImage.photo.src_big, currentIndex)">
                                        <img ng-src="{{anotherImage.photo.src_big}}" height="50">
                                    </div>

                                </div>
                                <div ng-if="isShowGif(wallPost.attachments)">
                                    <div ng-repeat="gif in wallPost.attachments"
                                         ng-if="gif.doc && gif.doc.ext == 'gif'" class="text-center">
                                        <img ng-src="{{gif.doc.url}}" style="max-width: 100%;"/>
                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>
                        </div>

                    </div>

                    <div class="clear" ng-if="($index+1) % 2 == 0"></div>

                </div>

                <div ng-show="!wallListView.length && dataIsLoaded && !isLoading">
                    <div class="col-md-12 m-top-m-15">
                        <div class="block-flat wallPost">
                            Записей по вашему фильтру нет :(
                        </div>
                    </div>
                </div>

            </div>

            <button type="button"
                    ng-show="wallPage*10 < wallList.length && !isLoading"
                    class="btn btn-block btn-info btn-rad" ng-click="showNextPosts()">Показать еще
            </button>

            <div class="block-flat m-top-m-15" ng-show="!dataIsLoaded && !isLoading">
                <div class="header">
                    <h3><i class="fa fa-info-circle sign"></i> Что это?</h3>
                </div>
                <div class="content site-helper">
                    <p>Анализ публикаций - это удобный инструмент аналитики постов в сообществах вконтакте. Производит
                        выгрузку постов с любой группы и показывает самые интересные публикации по ER, лайкам, репостам
                        и
                        комментариям. Любой понравившийся пост можно добавить в избранные.
                    </p>

                    <p>
                        Для поиска интересных публикаций выберите группу в блоке слева или с главной страницы. Вы можете
                        указать любую открытую группу, или группу в которой состоите.
                        После анализа публикаций их можно отфильтровать по лайкам, репостам, комментариям и степени
                        вовлеченности.
                    </p>

                    <div class="content overflow-hidden info-example">
                        <div class="well">
                            <div class="example-title">Примеры статистики</div>
                            <hr>
                            <button type="button" class="btn btn-info btn-rad btn-sm btn-trans btn-block"
                                    ng-click="getStatExample('sociopat_ru')">Веселый социопат
                            </button>
                            <button type="button" class="btn btn-info btn-rad btn-sm btn-trans btn-block"
                                    ng-click="getStatExample('mh')">Men's Health
                            </button>
                            <button type="button" class="btn btn-info btn-rad btn-sm btn-trans btn-block"
                                    ng-click="getStatExample('v5inf')">5 интересных фактов
                            </button>
                            <button type="button" class="btn btn-info btn-rad btn-sm btn-trans btn-block"
                                    ng-click="getStatExample('pikabu')">Пикабу
                            </button>
                            <button type="button" class="btn btn-info btn-rad btn-sm btn-trans btn-block"
                                    ng-click="getStatExample('exclusive_muzic')">Новинки музыки 2016
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="block-flat list-sort" ng-show="dataIsLoaded && !isLoading">
                <div class="header">
                    <h4>Сортировать</h4>
                </div>
                <div class="content" id="listSort">
                    <div>
                        <label class="radio-inline">
                            <input class="icheck" type="radio" checked="" name="filterPosts" value="likes">
                            По лайкам</label>
                    </div>
                    <div>
                        <label class="radio-inline">
                            <input class="icheck" type="radio" name="filterPosts" value="reposts">
                            По репостам</label>
                    </div>
                    <div>
                        <label class="radio-inline">
                            <input class="icheck" type="radio" name="filterPosts" value="comments">
                            По комментариям</label>
                    </div>
                    <div>
                        <label class="radio-inline">
                            <input class="icheck" type="radio" name="filterPosts" value="ER">
                            По ER</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>