<div>
    <div class="visible-lg">
        <button class="btn"
                ng-class="{'btn-info': currentState == 'admin'}"
                ng-click="showList('admin')">
            Управление
        </button>
        <button class="btn"
                ng-class="{'btn-info': currentState == 'isMy'}"
                ng-click="showList('isMy')">
            подписки
        </button>
        <button class="btn"
                ng-class="{'btn-info': currentState == 'bookmark'}"
                ng-click="showList('bookmark')">
            Закладки
        </button>
    </div>

    <div class="hidden-lg">
        <button class="btn btn-sm btn-block"
                ng-class="{'btn-info': currentState == 'admin'}"
                ng-click="showList('admin')">
            Управление
        </button>
        <button class="btn btn-sm btn-block"
                ng-class="{'btn-info': currentState == 'isMy'}"
                ng-click="showList('isMy')">
            подписки
        </button>
        <button class="btn btn-sm btn-block"
                ng-class="{'btn-info': currentState == 'bookmark'}"
                ng-click="showList('bookmark')">
            Закладки
        </button>
    </div>

    <div class="groups-tab-area" rad-loader="groupsLoading">
        <div class=" table-responsive choose-group-list" ng-show="currentState == 'admin'">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="item in adminGroups" ng-class="{groupLink: onAction}" ng-click="setLink(item)">
                    <td width="50">
                        <img ng-src="{{item.photo}}" width="40">
                    </td>
                    <td>
                        <span tabindex="-1" class="group-name" ng-bind="item.name"></span>
                        <span class="group-is-free" ng-show="groupIsFree(item)">Бесплатная</span>
                        <br/>
                        Участников: {{item.members_count}}
                    </td>
                    <td class="text-right" ng-if="onAddAction">
                        <button class="btn btn-info btn-round btn-fab btn-fab-mini"
                                rad-tooltip="{{addActionTooltipText}}"
                                placement="top" ng-click="onAddAction($event, item)">
                            <i class="material-icons">note_add</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive choose-group-list" ng-show="currentState == 'isMy'">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="item in myGroups" ng-class="{groupLink: onAction}" ng-click="setLink(item)">
                    <td width="50">
                        <img ng-src="{{item.photo}}" width="40">
                    </td>
                    <td>
                        <span class="group-name" tabindex="-1" ng-bind="item.name"></span>
                        <span class="group-is-free" ng-show="groupIsFree(item)">Бесплатная</span>
                        <br/>
                        Участников: {{item.members_count}}
                    </td>
                    <td class="text-right" ng-if="onAddAction">
                        <button class="btn btn-info btn-round btn-fab btn-fab-mini"
                                rad-tooltip="{{addActionTooltipText}}"
                                placement="top" ng-click="onAddAction($event, item)">
                            <i class="material-icons">note_add</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive choose-group-list" ng-show="currentState == 'bookmark'">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="bookmark in bookmarksList" ng-class="{groupLink: onAction}" ng-click="setLink(bookmark)">
                    <td width="50">
                        <img ng-src="{{bookmark.photo}}" width="40">
                    </td>
                    <td>
                        <span class="group-name" tabindex="-1" ng-bind="bookmark.name"></span>
                        <span class="group-is-free" ng-show="groupIsFree(bookmark)">Бесплатная</span>
                        <br/>
                        Участников: {{bookmark.members_count}}
                    </td>
                    <td class="text-right" ng-if="onAddAction">
                        <button class="btn btn-info btn-round btn-fab btn-fab-mini"
                                rad-tooltip="{{addActionTooltipText}}"
                                placement="top" ng-click="onAddAction($event, bookmark)">
                            <i class="material-icons">note_add</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label>Добавление группы в закладки</label>
                <input type="text" placeholder="Введите адрес группы вконтакте" ng-model="bookmarkGroupUrl"
                       class="form-control" ng-class="{'parsley-error': bookmarkError}">
                <ul class="parsley-errors-list filled">
                    <li class="parsley-required" ng-bind="bookmarkError"></li>
                </ul>
            </div>
            <button class="btn btn-primary" type="button" ng-click="addBookmark()">Добавить</button>

        </div>

    </div>

</div>