<div>
    <div ng-if="!view">
        <div class="spk4 pull-right spk-widget"></div>

        <div class="alert alert-info alert-white-alt rounded alert-small-padding" ng-show="noActiveTariff">

            <strong>Закончился период подписки </strong>
            <br>
            Для продолжения работы оплатите требуемый период работы сервиса.
        </div>

        Мой тариф - {{model.tariff}}<br>
        Действует до - {{model.activeTo}}

        <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank">

            <input type="hidden" name="receiver" value="410011867702471">
            <input type="hidden" name="formcomment" value="socstat.ru - оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="short-dest" value="socstat.ru - оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="label" value="user{{model.userId}}">
            <input type="hidden" name="quickpay-form" value="shop">
            <input type="hidden" name="targets" value="Для пользователя {{model.userFullName}}">
            <input type="hidden" name="successURL" value="http://socstat.ru/successPayment.php">
            <input type="hidden" name="sum" value="{{paymentInfo.summ}}" data-type="number">
            <input type="hidden" name="need-fio" value="false">
            <input type="hidden" name="need-email" value="false">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">

            <table class="no-border hover">
                <thead class="no-border">
                <tr>
                    <th style="width:50%;">Период</th>
                    <th>Стоимость</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="no-border-y">
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>1 месяц</td>
                    <td class="text-center">199 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="1 месяц" checked="checked">
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>3 месяца</td>
                    <td class="text-center">499 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="3 месяца" checked="checked">
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>6 месяцев</td>
                    <td class="text-center">899 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="6 месяцев" checked="checked">
                    </td>
                </tr>

                </tbody>
            </table>

            <label><input type="radio" name="paymentType" value="PC"> Яндекс.Деньгами</label><br>
            <label><input type="radio" name="paymentType" value="AC" checked="checked"> Банковской картой</label>
            <br>

            <input type="submit" class="btn btn-success" value="Оплатить"/>

        </form>
    </div>

    <div class="text-center" ng-if="view == 'popup'">
        <div class="i-circle primary"><i class="fa fa-calendar-times-o"></i></div>
        <h4>Закончился срок подписки</h4>

        <p>
            Для продолжения работы с сервисом оплатите необходимый период.
            <br><br>

        <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank">

            <input type="hidden" name="receiver" value="410011867702471">
            <input type="hidden" name="formcomment" value="socstat.ru - оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="short-dest" value="socstat.ru - оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="label" value="user{{model.userId}}">
            <input type="hidden" name="quickpay-form" value="shop">
            <input type="hidden" name="targets" value="Для пользователя {{model.userFullName}}">
            <input type="hidden" name="successURL" value="http://socstat.ru/successPayment.php">
            <input type="hidden" name="sum" value="{{paymentInfo.summ}}" data-type="number">
            <input type="hidden" name="need-fio" value="false">
            <input type="hidden" name="need-email" value="false">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">

            <table class="no-border hover">
                <thead class="no-border">
                <tr>
                    <th class="text-center" style="width:50%;">Период</th>
                    <th class="text-center">Стоимость</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="no-border-y">
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>1 месяц</td>
                    <td class="text-center">199 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="1 месяц" checked="checked">
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>3 месяца</td>
                    <td class="text-center">499 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="3 месяца" checked="checked">
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;"><i class="fa fa-calendar-check-o"></i>6 месяцев</td>
                    <td class="text-center">899 <i class="fa fa-rub"></i></td>
                    <td class="text-right">
                        <input type="radio" ng-model="paymentInfo.period" value="6 месяцев" checked="checked">
                    </td>
                </tr>

                </tbody>
            </table>

            <label><input type="radio" name="paymentType" value="PC"> Яндекс.Деньгами</label><br>
            <label><input type="radio" name="paymentType" value="AC" checked="checked"> Банковской картой</label>
            <br>

            <input type="submit" class="btn btn-primary btn-block" value="Оплатить"/>

        </form>
        </p>
    </div>
</div>