<div>
    <div ng-if="!view">
        <div class="spk4 pull-right spk-widget"></div>

        <div class="alert alert-info alert-white-alt rounded alert-small-padding" ng-show="noActiveTariff">

            <strong>Закончился период подписки</strong>
            <br>
            Для продолжения работы оплатите требуемый период работы сервиса.
            Стоимость одного месяца - всего <strong>116</strong> рублей при оплате за год.<br>
        </div>

        <br>
        Безлимитный период действует до - {{model.activeTo}}


        <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml" target="_blank">

            <input type="hidden" name="receiver" value="410011867702471">
            <input type="hidden" name="formcomment" value="socstat.ru">
            <input type="hidden" name="short-dest" value="оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="label" value="user{{model.userId}}">
            <input type="hidden" name="quickpay-form" value="shop">
            <input type="hidden" name="targets" value="Для пользователя {{model.userFullName}}">
            <input type="hidden" name="successURL" value="http://socstat.ru/successPayment.php">
            <input type="hidden" name="sum" value="{{paymentInfo.summ}}" data-type="number">
            <input type="hidden" name="need-fio" value="false">
            <input type="hidden" name="need-email" value="false">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">

            <table class="table">
                <tbody>
                <tr>
                    <td class="text-center">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="1 месяц">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="3 месяца">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="1 год">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        1 месяц
                    </td>
                    <td class="text-center">
                        <h4>3 месяца</h4>
                    </td>
                    <td class="text-center">
                        Целый год
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        299
                        <small><i class="fa fa-rub"></i></small>
                    </td>
                    <td class="text-center">
                        <h4>499
                            <small><i class="fa fa-rub"></i></small>
                        </h4>
                    </td>
                    <td class="text-center">
                        1399
                        <small><i class="fa fa-rub"></i></small>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="radio">
                <label>
                    <input type="radio" name="paymentType"
                           value="PC">
                    <span class="circle"></span>
                    <span class="check"></span> Яндекс.Деньгами
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="paymentType"
                           value="AC" checked="checked">
                    <span class="circle"></span>
                    <span class="check"></span> Банковской картой (Visa,
                    Mastercard)
                </label>
            </div>

            <br/>

            <input type="submit" class="btn btn-success btn-block" value="Оплатить"/>

            <div class="block text-center">(произойдет переход на страницу оплаты)</div>

        </form>
    </div>

    <div class="text-center" ng-if="view == 'popup'">
        <div class="alert alert-info">
            <b>Бесплатно для 3-х групп</b><br/>
            <span>
                Вы можете пользоваться сервисом <b>бесплатно</b> для 3-х групп, которые указали в разделе <a
                    ng-click="goToProfile()">Профиль и оплата</a>. Если вы этого еще не сделали, то можете сделать это прямо
            сейчас.
            </span>
        </div>

        Чтобы пользоваться аналитикой для других групп, необходимо оплатить подписку на любой из приведенного ниже
        списка период.<br/>
        Стоимость одного месяца - всего <strong>116</strong> рублей при оплате за год.

        <br/>
        <br/>

        <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank">

            <input type="hidden" name="receiver" value="410011867702471">
            <input type="hidden" name="quickpay-form" value="shop">
            <input type="hidden" name="targets" value="Для пользователя {{model.userFullName}}">
            <input type="hidden" name="sum" value="{{paymentInfo.summ}}" data-type="number">
            <input type="hidden" name="formcomment" value="socstat.ru">
            <input type="hidden" name="short-dest" value="оплата периода {{paymentInfo.period}}">
            <input type="hidden" name="label" value="user{{model.userId}}">
            <input type="hidden" name="successURL" value="http://socstat.ru/successPayment.php">
            <input type="hidden" name="need-fio" value="false">
            <input type="hidden" name="need-email" value="false">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">

            <table class="table">
                <tbody>
                <tr>
                    <td class="text-center" width="33%">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="1 месяц">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center" width="34%">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="3 месяца">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center" width="33%">
                        <div class="radio period-radio">
                            <label>
                                <input type="radio" ng-model="paymentInfo.period"
                                       value="1 год">
                                <span class="circle"></span>
                                <span class="check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        1 месяц
                    </td>
                    <td class="text-center">
                        <h4>3 месяца</h4>
                    </td>
                    <td class="text-center">
                        Целый год
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        299
                        <small><i class="fa fa-rub"></i></small>
                    </td>
                    <td class="text-center">
                        <h4>499
                            <small><i class="fa fa-rub"></i></small>
                        </h4>
                    </td>
                    <td class="text-center">
                        1399
                        <small><i class="fa fa-rub"></i></small>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="radio">
                <label>
                    <input type="radio" name="paymentType"
                           value="PC">
                    <span class="circle"></span>
                    <span class="check"></span> Яндекс.Деньгами
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="paymentType"
                           value="AC" checked="checked">
                    <span class="circle"></span>
                    <span class="check"></span> Банковской картой (Visa,
                    Mastercard)
                </label>
            </div>

            <br/>

            <input type="submit" class="btn btn-success btn-block" value="Оплатить"/>

            <div class="block text-center">(произойдет переход на страницу оплаты)</div>

        </form>
        </p>
    </div>
</div>
