.vk-auth-icon {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.vk-auth-icon span {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #456a94;
    padding-top: 10px;
}

.vk-auth-icon span:hover {
    color: #517fb3;
}

.vk-auth-icon a {
    border: 0 !important;
}

.block-flat .header {
    background: #456a94 !important;
}