<ul class="nav navbar-nav horizontal my-main-menu" id="leftMenu">

    <li ng-class="currentState('index.dashboard')?'active':''">
        <a ng-click="openState('index.dashboard')"><span>Главная</span></a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown">Сообщества <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-class="currentState('index.stat')?'active':''">
                <a ng-click="openState('index.stat')">Статистика сообщества</a>
            </li>
            <li ng-class="currentState('index.groupsAnalog')?'active':''">
                <a ng-click="openState('index.groupsAnalog')">Сообщества, где есть ЦА</a>
            </li>
            <li ng-class="currentState('index.auditoryCompare')?'active':''">
                <a ng-click="openState('index.auditoryCompare')">Сравнение аудиторий</a>
            </li>
            <li ng-class="currentState('index.findBots

            ')?'active':''">
                <a ng-click="openState('index.findBots')">Поиск &laquo;мертвых&raquo; подписчиков</a>
            </li>
        </ul>
    </li>
    <li class="dropdown publish">
        <a data-toggle="dropdown">Публикации <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-class="currentState('index.publishAnalysis')?'active':''">
                <a ng-click="openState('index.publishAnalysis')">Анализ публикаций</a>
            </li>
            <li ng-class="currentState('index.publishFavorites')?'active':''">
                <a ng-click="openState('index.publishFavorites')">Сохраненные публикации</a>
            </li>
        </ul>
    </li>
</ul>